<header class="bg-[white] w-full mb-55 shadow-lg fixed top-0 left-0 right-0">
	<div class="w-full" >
		<div class="flex flex-row justify-between max-w-[95%] sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%]  mx-auto   items-center">
			<a href="/"><img class="h-[70px] w-[100px]" src="/public/images/logo/brand.jpg" /></a>
			<i class="fa-solid fa-bars text-3xl cursor-pointer"></i>
		</div>

	</div>

	<nav class="bg-[black] text-white py-4">
		<div class="flex flex-row justify-between max-w-[95%] sm:max-w-[90%] md:max-w-[80%] lg:max-w-[70%]  mx-auto   items-center">
			<a href="/" class="font-bold text-lg"><h2>blog</h2></a>
			<a href="/post/new" class="border p-2 hover:bg-zinc-200 hover:text-black hover:font-[500] w-40 text-center ">Create post</a>
		</div>


	</nav>
</header>