<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles/style.css" >
		 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">

</head>
<body>
	<header>
		<h2 class="brand">Blog</h2>
		<nav>
			<a href="/login">login</a>
			<a href="/register">Register</a>
		</nav>
	</header>
		<h1>Welcome to <%= title %></h1>
		<p>This is a basic EJS template.</p>
</body>
</html>
