

	<div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10 ">
		<% if (posts.length === 0) { %>
			<article>
				<div class="no-post">
					<p>There is no post on your feed</p>
				</div>
			</article>
		<% } else { %>
		<% posts.forEach(post => {%>
		<article class="mb-6 bg-slate-200 rounded-2xl w-full min-w-[250px] ">
				<div class="p-2">
					<div  class=" w-full h-[400px] ">
						<img loading="lazy" class="lazy block w-full max-h-full  object-cover rounded-xl" data-src="<%= post.image %>" alt="Post image">
					
					</div>
					<div class="text-bold"><%= post.title %></div>
					<div class="post-body">
						<p class="summary">
							<%= post.summary %>...
						</p>
						<a href="post/<%=post._id%>" class="more">Read More</a>
					</div>
				</div>
	
		</article>
		<% })%>
			<% } %>
	
		</div>
		<script src="/public/js/index.js"></script>

