
		<div class="flex flex-col h-[calc(100vh - 200px)] md:flex-row justify-center items-center">
			<div class="w-[70%] md:w-[60%] lg:w-[50%] xl:w-[40%]  ">
				<h1 class="text-center text-3xl font-bold  mb-14">Login</h1>
				<form method="POST" action="/login">
					<% if (typeof message !== 'undefined') { %>
						<p class="error"><%= message %></p>
					<% } %>
					<div class="flex border-none w-full p-2 bg-white rounded-xl mb-6 shadow-lg shadow-gray-500/50">
						<label for="email">Email:</label>
						<input class="border-none mx-2 outline-none w-full" type="email" id="email" name="email" required>
					</div>
					<div class="flex border-none w-full p-2 bg-white rounded-xl mb-6 shadow-lg shadow-gray-500/50">
						<label for="password">Password:</label>
						<input class="border-none mx-2 outline-none w-full" type="password" id="password" name="password">
					</div>
					<button class="w-40 block p-2 my-4 text-white text-bold outline-none mx-auto bg-blue-500 rounded-xl shadow-lg shadow-blue-500/50 hover:bg-white hover:text-black  hover:border-2 hover:border-blue-500 " type="submit">Login</button>
				</form>
	
				<p class="text-gray-700 mt-9"> New member? <a class="test-underline" href="/register">Create new accoun!</a> </p>
			
			</div>
			
		</div>
