* {
	font-family: 'Poppins', sans-serif;
	border: 0;
	margin: 0;
	box-sizing: border-box;
}
.body {
	width: 100vw;
	display: flex;
	justify-content:center;
	align-items: center;
}

.form-container {
	margin:15px 0;
	width: 90%;
	border: 1px solid #bbb;
	padding: 25px;
	border-radius: 5px;

}
.form-container h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 800;
	margin-bottom: 15px
}
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 7px;
	padding: 8px;
	width: 100%;


}
.form-group label {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
}
.form-group input, .form-group textarea{
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;
}

form .btn{
	display: block;
	width: calc(100% - 16px);
	padding: 8px 12px;
	border:1px solid #bbb;
	border-radius: 5px;
	background: #bbb;
	font-size:15px;
	font-weight: 600;
	outline: none;
	color: #fff;
	cursor: pointer;
	margin: 15px auto;
	
}
form .error{
	color: red;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid red;
	background: pink;
}
.down {
	font-size: 12px;
	color: #aaa;
}

header{

	padding: 15px 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow:0 0 5px #aaa;
}

header nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
header nav a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	font-size: 1.2rem;
	display: block;
	border: 1px solid #aaa;
	border-radius: 15px;
	padding: 9px;
}
header nav a:hover{
	background: #aaa;
	color: #fff;
}
header nav i {
	font-size: 1.5rem;
	margin: 0 5px;
}

article {
	
	padding-top: 15px;
}
.post {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 90%;
	padding: 15px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background: #eee;
}
.post-img {
	width: 100%;
	
}
.post-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;

}
.post-title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 15px;
}
.post-body p {
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 10px;

}
.post-body a {
	text-decoration: none;
	color: #000;
	background: #1fa;
	border-radius: 5px;
	padding: 5px;
}
.delete{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding: 15xp;
	
}
.deleteBtn{
	color: #fff;
	padding: 5px 9px;
	font-size: 1.09em;
	background:  red;
	border-radius: 5px;
	transition: 0.4s;
}
.deleteBtn:hover{
	color: #f00;
	background: #fff;
	border: 2px solid #f00;
}